<!-- Lähteenä käytetty sivua: https://www.baeldung.com/thymeleaf-list-->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AddPerformance</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1>Add performances</h1>
    <form action="#" th:action="@{/savePerformances}" th:object="${form}" method="post">
        <fieldset>
            <table class="table table-striped">
                <thead>
                    <th>pupilId</th>
                    <th>lessonId</th>
                    <th>skills</th>
                    <th>effort</th>
                    <th>shortDescription</th>
                    <th>attendance</th>
                </thead>
                <tbody>
                    <tr th:each="performance, itemStat : ${form.performances}">
                        <td>
                            <input type="hidden" th:field="*{performances[__${itemStat.index}__].pupil.pupilId}" />
                            <span th:text="${performance.pupil.firstName + ' ' + performance.pupil.lastName}"></span>
                        </td>
                        <!-- <td><input th:field="*{performances[__${itemStat.index}__].lesson.lessonId}" /></td> -->
                        <td>
                            <select th:field="*{performances[__${itemStat.index}__].lesson.lessonId}">
                                <option value="">Select lesson</option>
                                <option th:each="lesson : ${performance.pupil.lessons}" 
                                        th:value="${lesson.lessonId}" 
                                        th:text="${lesson.lessonDescription + ' - ' + lesson.lessonDay}">
                                </option>
                            </select>
                        </td>
                        <td><input th:field="*{performances[__${itemStat.index}__].skills}" /></td>
                        <td><input th:field="*{performances[__${itemStat.index}__].effort}" /></td>
                        <td><input th:field="*{performances[__${itemStat.index}__].shortDescription}" /></td>
                        <td><input th:field="*{performances[__${itemStat.index}__].attendance}" /></td>
                    </tr>
                    
                </tbody>
            </table>
            <input type="submit" id="submitButton" th:value="Save">
        </fieldset>
    </form>
 
</body>
</html>

        
   

