<!-- Lähteenä käytetty sivua: https://www.baeldung.com/thymeleaf-list -->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lisää suoritukset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
</head>
<body>

 	<!-- Navigointipalkki -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="#">Arviointikirja</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<!-- Linkit navigointipalkkiin -->
			<li class="nav-item">
				<a class="nav-link" href="/pupillist" sec:authorize="hasAuthority('ADMIN')">Oppilaat ja suoritukset</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/pupillist" sec:authorize="hasAuthority('USER')">Omat suoritukset</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/lessonlist">Tuntipäiväkirja</a>
			</li>
			<li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
				<a class="nav-link" href="/create">Lisää suorituksia</a>
			</li>
			<li class="nav-item" sec:authorize="hasAuthority('USER')">
				<a class="nav-link" href="/pupilAddPerformance">Lisää suoritus</a>
			</li>
			<li class="nav-item">
				<form th:action="@{/logout}" method="post" class="nav-link p-0">
					<input type="submit" value="Kirjaudu ulos" class="btn btn-link text-white"/>
				</form>
			</li>
		</ul>
	</div>
</nav>
<!-- Navigaatio loppuu -->
 
<h1>Lisää suoritukset luokalle</h1>

<!-- Luokan valinta -->
<form th:action="@{/create}" method="get">
    <div class="form-group">
        <label for="classId">Valitse luokka:</label>
        <select id="classId" name="classId" class="form-control">
            <option th:each="class : ${pupilClasses}" th:value="${class.classId}" th:text="${class.className}"></option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Näytä oppilaat</button>
</form>



<!-- Oppitunnin valinta -->
<form th:action="@{/savePerformances}" th:object="${form}" method="post">
    <div class="form-group">
        <label for="lessonId">Valitse oppitunti:</label>
        <select id="lessonId" name="lessonId" class="form-control">
            <option th:each="lesson : ${lessons}" th:value="${lesson.lessonId}" 
                    th:text="${lesson.lessonDescription} + ' (' + ${lesson.lessonDay} + ')'">
            </option>
        </select>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Oppilas</th>
                <th>Työskentely</th>
                <th>Osaaminen</th>
                <th>Kommentit</th>
                <th>Läsnäolo</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="performance, iter : ${form.performances}">
                <td th:text="${performance.pupil.firstName} + ' ' + ${performance.pupil.lastName}"></td>
                <td><input type="number" th:field="*{performances[__${iter.index}__].effort}" class="form-control" min="4" max="10" step="1"></td>
                <td><input type="number" th:field="*{performances[__${iter.index}__].skills}" class="form-control" min="4" max="10" step="1"></td>
                <td><input type="text" th:field="*{performances[__${iter.index}__].shortDescription}" class="form-control"></td>
                <td><input type="checkbox" th:field="*{performances[__${iter.index}__].attendance}"></td>

                <input type="hidden" th:field="*{performances[__${iter.index}__].pupil.pupilId}">
            </tr>
        </tbody>
    </table>

    <button type="submit" class="btn btn-success">Tallenna merkinnät</button>
</form>


<a href="/pupillist">Takaisin oppilaslistaan</a>
</body>
</html>