<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AddPerformance</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Add performances</h1>
    <table>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Effort</th>
            <th>Skills</th>
            <th>Description</th>
            <th>Attendance</th>
            <th>Action</th>
        </tr>
        <tr th:each="pupil : ${pupils}">
            <form th:action="@{/savePerformance}" method="post">
                <!-- Piilotettu oppilaan ID -->
                <input type="hidden" name="pupilId" th:value="${pupil.pupilId}" />

                <td>
                    <input type="text" th:value="${pupil.firstName}" readonly />
                </td>
                <td>
                    <input type="text" th:value="${pupil.lastName}" readonly />
                </td>
                <td>
                    <input type="number" name="effort" />
                </td>
                <td>
                    <input type="number" name="skills" />
                </td>
                <td>
                    <textarea name="shortDescription" rows="4" cols="50"></textarea>
                </td>
                <td>
                    <input type="checkbox" name="attendance" />
                </td>
                <td>
                    <input type="submit" value="Save" />
                </td>
            </form>
        </tr>
    </table>
</body>
</html>
