<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Oppitunnit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
</head>
<body>
	<!-- Navigointipalkki -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#">Arviointikirja</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<!-- Linkit navigointipalkkiin -->
				<li class="nav-item">
					<a class="nav-link" href="/pupillist" sec:authorize="hasAuthority('ADMIN')">Oppilaat ja suoritukset</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/pupillist" sec:authorize="hasAuthority('USER')">Omat suoritukset</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/lessonlist">Tuntipäiväkirja</a>
				</li>
				<li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
					<a class="nav-link" href="/create">Lisää suorituksia</a>
				</li>
				<li class="nav-item" sec:authorize="hasAuthority('USER')">
					<a class="nav-link" href="/pupilAddPerformance">Lisää suoritus</a>
				</li>
				<li class="nav-item">
					<form th:action="@{/logout}" method="post" class="nav-link p-0">
						<input type="submit" value="Kirjaudu ulos" class="btn btn-link text-white"/>
					</form>
				</li>
			</ul>
		</div>
	</nav>
	<!-- Navigaatio loppuu -->
	<h1>Oppituntien päiväkirja</h1>
    <table class="table table-hover" sec:authorize="hasAuthority('ADMIN')">
		<tr>
		    <th>Päivämäärä</th>
		    <th>Luokka</th>
            <th>Laji</th>
            <th>Mitä tehtiin</th>
			<th sec:authorize="hasAuthority('ADMIN')">Muokkaa</th>
		</tr>  
    	<tr th:each = "lesson : ${lessons}">
    		<td th:text="${lesson.lessonDay}"></td>
    		<td th:text="${lesson.pupilClass.className}"></td>
            <td th:text="${lesson.sport.name}"></td>
            <td th:text="${lesson.lessonDescription}"></td>	
 			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/editLesson/{id}(id=${lesson.lessonId})}"><i class="fas fa-pencil-alt"></i></a></td>   		
 			<!-- <td><a th:href="@{/deleteLesson/{id}(id=${lesson.lessonId})}">Delete</a></td> // Jos oppitunti poisteaan suoritukset katoaa-->
    	</tr>
     </table>
	 <a href="/addLesson" class="btn btn-success" sec:authorize="hasAuthority('ADMIN')">Lisää oppitunti</a>

	 <table class="table table-hover" sec:authorize="hasAuthority('USER')">
		<tr>
		    <th>Päivämäärä</th>
		    <th>Luokka</th>
            <th>Laji</th>
            <th>Mitä tehtiin</th>
		</tr>  
    	<tr th:each = "lesson : ${lessons}" th:if="${lesson.pupilClass.classId == authenticatedPupil.pupilClass.classId}">
    		<td th:text="${lesson.lessonDay}"></td>
    		<td th:text="${lesson.pupilClass.className}"></td>
            <td th:text="${lesson.sport.name}"></td>
            <td th:text="${lesson.lessonDescription}"></td>
     </table>
			
</body>
</html>