<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Pupilperformances</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
	<!-- Navigointipalkki -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="#">Arviointikirja</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<!-- Linkit navigointipalkkiin -->
			<li class="nav-item">
				<a class="nav-link" href="/pupillist">Oppilaat ja suoritukset</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/lessonlist">Tuntipäiväkirja</a>
			</li>
			<li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
				<a class="nav-link" href="/create">Lisää suorituksia</a>
			</li>
			<li class="nav-item">
				<form th:action="@{/logout}" method="post" class="nav-link p-0">
					<input type="submit" value="Kirjaudu ulos" class="btn btn-link text-white"/>
				</form>
			</li>
		</ul>
	</div>
</nav>
<!-- Navigaatio loppuu -->
	<h1 th:text="${pupil.firstName} + ' ' + ${pupil.lastName}"></h1>
	<table class="table table-bordered" style="width: 60%;">
		<tr>
		<th>Työskentely</th>
		<th>Taidot</th>
		<th>Keskiarvo 50/50</th>
	</tr>
	<tr>
		<td th:text="${#numbers.formatDecimal(averageEffort, 1, 2)}"></td>
		<td th:text="${#numbers.formatDecimal(averageSkills, 1, 2)}"></td>
		<td th:text="${#numbers.formatDecimal(averageEffortAndSkills, 1, 2)}"></td>
	</tr>
	</table>
    <table class="table table-hover">
		<tr>
		    <th>Päivämäärä</th>
		    <th>Laji</th>
            <th>Työskentely</th>
            <th>Osaaminen</th>
            <th>Kommentit</th>
			<th>Läsnäolo</th>
			<th th sec:authorize="hasAuthority('ADMIN')">Muokkaa</th>
		</tr>  
    	<tr th:each = "pupilperformance : ${performances}">
    		<td th:text="${pupilperformance.lesson.lessonDay}"></td>
    		<td th:text="${pupilperformance.lesson.sport.name}"></td>
            <td th:text="${pupilperformance.effort}"></td>
            <td th:text="${pupilperformance.skills}"></td>
            <td th:text="${pupilperformance.shortDescription}"></td>
            <td th:text="${pupilperformance.attendance}"></td>
 			<td th sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/editPerformance/{id}(id=${pupilperformance.performanceId})}"><i class="fas fa-pencil-alt"></i></a></td>   		
 			<!-- <td><a th:href="@{/delete/{id}(id=${pupil.pupilId})}">Delete</a></td>  	--> 	
    	</tr>

     </table>
	 <a href="/pupillist">Takaisin oppilaslistaan</a>    	
</body>
</html>